.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    /* justify-content: center; */
}
/* .container>:nth-child(1){
    margin-top: -300px;
} */
.title{
    font-size: 1.2rem;
    font-weight: 500;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards>:nth-child(1){
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.card{
    display: flex;
    flex-direction: column;
    color: var(--grey);

}

.card>:nth-child(1){
    font-size: 0.8rem;
}
.card>:nth-child(2){
    font-size: 1.1rem;
    font-weight: 500;
}

.arrowIcon{
    height: 2rem;
    width: 2rem;
    background: var(--orange);
    border-radius: 5px;
}

.arrowIcon>svg{
    width: 2rem;
    height: 2rem;
color: black;
}
